.wishlist-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-size: xx-large;
	font-weight: 600;
	font-style: italic;
}

.main-page-container-wishlist {
	margin-top: 80px !important;
	padding-left: 32px !important;
	padding-right: 32px !important;
}

.hotel-card-container-wishlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 32px;
}

.heart-icons-wishlist{
  color: red;
}
