.main-page-container {
	margin-top: 100px !important;
	padding-left: 32px !important;
	padding-right: 32px !important;
    max-width: 1200px; /* ✅ Keeps it looking tight and professional on wide monitors */
    margin-left: auto !important;
    margin-right: auto !important;
}

.hotel-description-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 64px;
	padding-right: 32px;
	margin-top: 16px;
	margin-bottom: 32px;
}
@media (min-width: 766px) {
	.hotel-description-container {
		flex-direction: row;
		gap: 16px;
	}
}
