.search-stay-background {
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(2px);
	top: 70px;
	display: flex;
	justify-content: center;
	z-index: 5;
}

.search-stay-container {
	position: relative;
	display: flex;
	gap: 20px;
	background-color: white;
	height: fit-content;
	padding: 30px;
	padding-top: 10px;
	border: 0.1px solid gray;
	border-radius: 8px;
}
.search-stay-label-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 300;
}

.search-stay-input {
	border: 1px solid grey !important;
	outline: none !important;
	border-radius: 4px !important;
	color: gray !important;
	text-align: center;
}

.search-button {
	display: flex;
	align-items: center;
	font-size: x-large;
	padding: 12px;
	background-color: orange;
	color: white;
	border-radius: 8px;
	cursor: pointer;
	/* transition: transform 0.3s ease; */
}
/* .search-button:hover,.cross-icon:hover{
  transform: scale(1.1)
} */

.cross-icon {
	position: absolute;
	left: 5px;
	top: -4px;
	font-size: x-large;
	color: gray;
	cursor: pointer;
}

.destination-options {
	position: absolute;
	top: 70px;
	max-height: 20vh;
	background-color: white;
	z-index: 6;
	min-width: 250px;
	overflow-y: auto;
	font-size: large;
	font-weight: 200;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 3px;
	overflow-x: hidden;
}
.destination-options-item {
	cursor: pointer;
	/* background-color: lightgray; */
	padding: 0 12px;
	transition: transform 0.3s ease;
	min-width: 200px;
}
.destination-options-item:hover {
	background-color: orange;
	color: white;
	transform: scale(1.04);
}
.destination-options-item:focus {
	background-color: orange;
	color: white;
}

.hover-tranform {
	cursor: pointer;
	transition: transform 0.3s ease;
}
.hover-tranform:hover {
	transform: scale(1.1);
}
