.hotel-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 32px;
	margin-top: 110px;
	padding-left: 30px;
	padding-right: 30px;
}

.filter-label-icon,
.heart-label-icon,.bus-label-icon {
	display: flex;
	align-items: center;
	gap: 4px;
	border: 1px solid darkgray;
	border-radius: 4px;
	cursor: pointer;
	position: fixed;
	left: 18px;
	padding: 4px;
	border-radius: 4px;
	top: 126px;
	font-size: x-large;
	transition: transform 0.3s ease;
	z-index: 10;
	background-color: white;
}
.filter-label-icon:hover,
.heart-label-icon:hover,
.bus-label-icon:hover {
	color: white;
	background-color: orange;
	transform: scale(1.1);
}

.heart-label-icon {
	top: 170px;
	color: red;
}
.heart-label-icon:hover {
	background-color: red !important;
	color: white !important;
}
.bus-label-icon {
	top: 215px;
	color: black;
}
.heart-label-icon:hover {
	background-color: orange;
	color: white !important;
}

.ban-icons {
	position: fixed;
	top: 40vh;

	display: flex;
	align-items: center;
	gap: 8px;
	font-size: x-large;
	font-weight: 300;
	text-align: center;
	left: 41vw;
}
