.rating-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.rating-title {
	font-size: x-large;
	color: dimgray;
	font-weight: 200;
}
.rating-button-container {
	display: flex;
	justify-content: space-around;
	transition: transform 0.3s ease;
}
.star-icons {
}
.rating-button {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 4px;
	border: 1px solid lightseagreen;
	padding: 4px 16px;
	border-radius: 4px;
	transition: transform 0.3s ease;
	background-color: white;
	color: lightseagreen;
}
.rating-button:hover {
	background-color: lightseagreen;
	color: white;
	transform: scale(1.1);
}
