/* .navbars {
  background-color: orange;
  font-size: x-large;
  padding: 5px 10px 5px 10px;
  text-align: center;

	.flexRowView {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.outer {
		display: flex;
		justify-content: space-between;
    align-content: center;
		text-align: center;
	}
  .searches{
    gap: 5px;
    display: flex;
    align-content: center;
    border: 1.5px solid black;
    padding: 0px 4px 0px 4px;
    border-radius: 4px;
  }
  .searches:hover{
    cursor: pointer;
  }
  .rightBlack{
    border-right:1px solid black !important;
    padding-right: 1px;
  }
  .profile-options{
    display: flex;
    justify-content: space-between;
    font-size: x-large;
  }
  .search-icon{
    padding-left: 5px;
    padding-right: 5px;
  }
} */

.navbar-heading {
	font-weight: 900 !important;
	font-size: x-large !important;
	color: white !important;
	padding-left: 30px;
	display: flex;
	align-items: center;
	gap: 4px;
}
.airplane {
	font-size: smaller;
}

.NavbarColor {
	background: orange !important;
	color: black !important;
	border: none;
}
.findButton {
	display: flex;
	align-items: center;
}
.icon {
	font-size: xx-large;
}
.position {
	position: fixed;
}
.button-container {
	margin-right: 80px !important;
	border: none !important;
	cursor: pointer;
	transition: transform 0.3s ease;
	display: flex !important;
	align-items: center !important;
}
.button-container:hover {
	transform: scale(1.05);
}
.button-item {
	background-color: white !important;
	color: black !important;
	border: none !important;
	font-size: x-large !important;
	padding: 0px 12px 2px 12px !important;
}

.searchBar:focus {
	outline: none;
	box-shadow: none !important;
	border: none !important;
}

.navbar-space{
	min-width: 50%;
}
